/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Basic styles for the layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* Styling for the hero section */
.hero {
  margin-top: 5em;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.foodandwine.com%2Frecipes%2Fclassic-cheese-pizza&psig=AOvVaw1vCUWjv4zCOrjxmOGdIuAo&ust=1700070013325000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKiD-byExIIDFQAAAAAdAAAAABAD');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5733;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Styling for the deals section */
.deals {
  margin-top: 30px;
}

.deal-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.deal-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
